html{
	height: 100%;
}
body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #23558A;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient(#23558A, #8ECCF3);
    background: -moz-linear-gradient(#23558A, #8ECCF3);
    background: -ms-linear-gradient(#23558A, #8ECCF3);
    background: -o-linear-gradient(#23558A, #8ECCF3);
    background: linear-gradient(#23558A, #8ECCF3);
}
h2 {
	padding-top: 2em;
	padding-bottom: 2em;
	font-size: 22pt;
}
.icon {
	padding: 1em;
	font-size: 30pt;
}
#app-container {
	position: center;
	text-align: center;
	font-size: 16pt;
	color: white;
}
